@import '../../../theme.scss';
@import '../../../mixins.scss';

@keyframes expand-menu {
  from {
    top: -300px;
    background-color: transparent;
    height: 0;
  }
  to {
    top: 0;
    height: 300px;
    background-color: white;
  }
}

@keyframes retract-menu {
  from {
    top: 0;
    height: 300px;
    background-color: white;
  }
  to {
    top: -300px;
    background-color: transparent;
    height: 0;
  }
}

.header {
  height: 80vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;
  padding-top: 20px;
  background-image: linear-gradient(
      to right bottom,
      $header-dark,
      $header-light
    ),
    url(../../../assets/cover1.jpeg);

  @include mobile {
    height: 50vh;
  }

  .logo {
    font-size: 90px;
    position: absolute;
    padding: 4px 30px;
    font-weight: 900;
  }

  .menu {
    margin: auto;
    display: flex;
    justify-content: center;

    .item {
      color: $text-color;
      text-decoration: none;
      font-size: 20px;
      margin: 10px;
      padding: 4px;
      transition: color 200ms ease-in-out, font-size 200ms ease-in-out;

      &:visited {
        color: unset;
      }

      &:hover {
        color: $hover-link;
      }

      &.current {
        color: $hover-link;
      }
    }
  }

  .menu-mobile {
    right: 20px;
    font-size: 40px;
    position: absolute;
    padding: 8px 20px;
    cursor: pointer;

    &__container {
      height: 0;
      width: 100%;
      background-color: transparent;
      position: absolute;
      top: -300px;

      &.open {
        animation-name: expand-menu;
        animation-fill-mode: forwards;
        animation-duration: 400ms;
      }

      &.close {
        animation-name: retract-menu;
        animation-fill-mode: forwards;
        animation-duration: 400ms;
      }
    }

    &__items {
      .item {
        color: $text-color;
        text-decoration: none;
        font-size: 20px;
        margin: 10px;
        padding: 4px;
        transition: color 200ms ease-in-out, font-size 200ms ease-in-out;

        &:visited {
          color: unset;
        }

        &.current {
          color: $hover-link;
        }

        &.mobile {
          // TODO
        }
      }
    }
  }

  .title {
    text-transform: uppercase;
    display: flex;
    height: 80%;

    h1 {
      margin: auto auto auto 20%;
      @include mobile {
        margin: auto auto 20px auto;
      }
    }

    &--main {
      font-family: 'Source Code Pro', monospace;
      display: block;
      font-size: 50px;
      letter-spacing: 15px;
      @include mobile {
        letter-spacing: unset;
      }
    }

    &--sub {
      font-family: 'Source Code Pro', monospace;
      text-transform: lowercase;
      letter-spacing: 22px;
      @include mobile {
        letter-spacing: unset;
      }
    }
  }
}
