<div class="header">
  <span class="material-icons logo">
    code
  </span>
  <div class="menu" *ngIf="!mobile; else mobileContent">
    <ng-container *ngFor="let item of menu; let i = index">
      <a
        class="item"
        [ngClass]="{ current: item.current }"
        (click)="setCurrent(i)"
        [routerLink]="[item.url]"
        >{{ item.name }}</a
      >
    </ng-container>
  </div>
  <ng-template #mobileContent>
    <div class="menu-mobile">
      <fa-icon [icon]="menuIcon"></fa-icon>
    </div>
  </ng-template>
  <div class="title">
    <h1>
      <span class="title--main">
        Front End
      </span>
      <span class="title--sub">
        developer.
      </span>
    </h1>
  </div>
</div>
